body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    position: relative;
}

.contenedor-imagen {
    position: relative;
    text-align: center;
}

.texto-encima {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.unfade {
    opacity: 0;
    font-family: impact, sans-serif;
    animation: fadeInReverse 2s forwards;
}

@keyframes fadeInReverse {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.oculto {
    opacity: 0;
    font-family: impact, sans-serif;
    position: relative;
    z-index: 1;
}

.aparicion {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.borde {
    background-color: rgba(34, 132, 165, 0.67);
    padding: 20px;
}

h1 {
    font-family: "Madimi One", sans-serif;
}

.logo {
    position: absolute;
    width: 100%;
}

.imagen-fondo {
    width: 100%;
    height: 100%;
    position:sticky
}

.linea-horizontal {
    border: none;
    border-top: 5px solid rgb(9, 55, 70);
    width: 100%;
}

.font1 {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#bienvenido,
#museoTexto {
    position: relative; 
    z-index: 1; 
}
